{% extends "base.html" %}

{% block title %}
<title>Thêm Tác Giả</title>
{% endblock %}

{% block content %}

<div class="container" style="padding-bottom: 5px;">
    <div class="col-md-4">
        <h2>Thêm Tác Giả</h2>
        <form action="/addauthor/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <table>
                    <tr>
                        <th Style="width:150px"><label for="author">Tên Tác Giả</label></th>
                        <th><input type="text" class="form-control" id="author" name="name"
                                placeholder="Nhập Tên Tác Giả" value="{{ name }}" style="margin-bottom: 5px;">
                        </th>
                        <th><span class="label label-danger">{{ status }}</span></th>
                    </tr>
                </table>
            </div>
            <div Style="margin-left: 50px;" class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </form>
    </div>
</div>

{% endblock %}