<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% block title %}
    {% endblock %}

    <link href="/static/bootstrap-3.3.7/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
        {% block css %}
        {% endblock %}
    </style>
</head>

<body>
    <div class="container">
        <h1>Hệ Thống Quản Lý Thư Viện Cá Nhân</h1>
    </div>

    <div class="container">
        <ul class="nav nav-tabs  " id="myTab">
            <li role="presentation" class="active"><a Style="font-size:30px" href="/index/">Trang Chủ</a></li>
            <li role="presentation"><a Style="font-size:30px" href="/book/">Sách</a></li>
            <li role="presentation"><a Style="font-size:30px" href="/author/">Tác Giả</a></li>
        </ul>
    </div>
    <br>

    {% block content %}

    {% endblock %}



</body>

</html>